<!DOCTYPE html>
<html>
<head>
  <title>AccessSummaryLog</title>
  <%= stylesheet_link_tag    "access_summary_log/application", media: "all" %>
  <%= javascript_include_tag "access_summary_log/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
